<div class="component-container shadow">
  <div class="menu-container">
    <ul class="menu-wrapper">
      <li>
        <strong>Gender:</strong>
        <div>
          
        </div>
      </li>
      <li>
        <strong>Age:</strong>
        <div>
          
        </div>
      </li>
      <li>
        <strong>Eye color:</strong>
        <div>
          
        </div>
      </li>
      <li>
        <strong>Birth date:</strong>
        <div>
          
        </div>
      </li>
    </ul>
  </div>
</div>