<div class="component-container shadow">
  <ng-container *ngTemplateOutlet="sidebarTemplate; context:{$implicit: userList$ | async, filters: filters$ | async}">
  </ng-container>
</div>

<ng-template #sidebarTemplate let-users let-filters="filters">
  <div class="menu-container">
    <ul class="menu-wrapper">
      <li>
        <strong class="item-header">Gender:</strong>
        <app-gender-filter [filters]="filters"></app-gender-filter>
      </li>
      <li>
        <strong class="item-header">Age:</strong>
        <app-age-filter [filters]="filters" [users]="users"></app-age-filter>
      </li>
      <li>
        <strong class="item-header">Eye color:</strong>
        <app-eye-filter [filters]="filters" [users]="users"></app-eye-filter>
      </li>
      <li>
        <strong class="item-header">Birth date:</strong>
        <p-calendar [ngModel]="filters.birthDate" (ngModelChange)="calendarChanged($event)" selectionMode="range" [readonlyInput]="true"></p-calendar>
      </li>
    </ul>
  </div>
</ng-template>