.dropdown, .age-operation{
    margin-bottom: 16px;
}
  
.form-check-label, .dropdown-item{
    cursor: pointer;
}

.dropdown-menu{
    max-height: 252px;
    overflow: hidden;
    overflow-y: auto;
    
    .show{
        display: block;
    }
}

.dropdown-item.search-input{
    width: 200px;
    --bs-dropdown-link-active-bg: transparent;
    --bs-dropdown-link-hover-bg: transparent;
    padding-bottom: 0.5rem;
}
.dropdown-toggle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
small{
    display: block;
}