<div class="component-container" [formGroup]="genderFormGroup">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="female-gender" formControlName="female">
      <label class="form-check-label" for="female-gender">
        Female
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="male-gender" formControlName="male">
      <label class="form-check-label" for="male-gender">
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="others-gender" formControlName="others">
      <label class="form-check-label" for="others-gender">
        Others and I prefer not to say
      </label>
  </div>
</div>